{{!-- This file holds the header and footer that will be shown in all pages --}}
<html lang="en">

<head>
  <meta charset="utf-8">
  <title id="title">{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <!--<The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
  https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script>
  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-storage.js"></script>
  <script>
    // Your web app"s Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyAthaQNOszYAVRED_eFhAFH7j2V_hZDwr8",
      authDomain: "ssw-project-one.firebaseapp.com",
      projectId: "ssw-project-one",
      storageBucket: "gs://ssw-project-one.appspot.com",
      messagingSenderId: "199485616924",
      appId: "1:199485616924:web:05a7279da5c9c36f9040d9",
      measurementId: "G-L5WC5C8CC4"
    }
    // Initialize Firebase
    if (!firebase.apps.length) {
      console.log("firebase initialized")
      firebase.initializeApp(firebaseConfig)
      firebase.analytics()
    }
  </script>

</head>

<body>
  <input type="image" height="145px" width="305px" id="websiteTitleLogo"
    src="https://firebasestorage.googleapis.com/v0/b/ssw-project-one.appspot.com/o/images%2FlogoVersionOne.png?alt=media&token=0174e326-4b37-4caa-8f1f-fe283082efda" />
  <div class="topnav" id="topnav">
    <a href="/">Home Page</a>
<<<<<<< HEAD
    <a href="/messenger">Messenger</a>
    <a href="/search/questions/home/none">Questions</a>
    <a href="/flashcards">Flashcard Generator</a>
    <a id="accountTopNavButton" href="/account/sign-in">Account</a>
=======
    <a href="/question/new">New Question Page</a>
    <a href="/question/show/HKVlzIBrAsyjc4Qs7fIL">Sample Question</a>
    <a id="accountTopNavButton">Account</a>
    <a href="/flashcards">Flashcards</a>
>>>>>>> mikayla
  </div>
  {{!-- {{{body}}} is where the other handlebars pages will be loaded --}}
  <div class="mainContent">
  {{{body}}}
  </div>
  <div class="footer">
    <div class="center">
      <input type="image" height="67.5px" id="websiteFooterLogo" width="180px"
        src="https://firebasestorage.googleapis.com/v0/b/ssw-project-one.appspot.com/o/images%2FlogoVersionOne.png?alt=media&token=0174e326-4b37-4caa-8f1f-fe283082efda" />
    </div>
    <div class="center">
      <h4>Contact Us</h4>
      <div class="footerDiv">
        <image height="25px" width="30px"
          src="https://firebasestorage.googleapis.com/v0/b/ssw-project-one.appspot.com/o/images%2FstudyBuddyEmailIcon.png?alt=media&token=63a5aaf0-0675-4b3f-ad90-782cae40aaf6">
          <p>support@studybuddy.com</p>
      </div>
      <div class="footerDiv">
        <image height="25px" width="30px"
          src="https://firebasestorage.googleapis.com/v0/b/ssw-project-one.appspot.com/o/images%2FstudyBuddyPhoneIcon.png?alt=media&token=bd4646a6-b089-4fc1-a890-3752ef09adb9">
          <p>(555)-654-3456</p>
      </div>
    </div>
    <div class="center">
      <h4>Study Buddy Products and Services</h4>
      <a href="/search/questions/home/none">Questions and Answers</a>
      <a href="/flashcards">Flashcards</a>
      <a href="https://www.linkedin.com/">Study Buddy Careers</a>
      <a href="/messenger">Messenger</a>
      <a href="/inter-ships">Internships</a>
    </div>
  </div>
  <script>
    //make website logo link to home page
    document.getElementById("websiteTitleLogo").onclick = function () {
      window.location.href = "/"
    }
    document.getElementById("websiteFooterLogo").onclick = function () {
      window.location.href = "/"
    }
    //get user profile image to put into topnav
    window.onload = function () {
      firebase.auth().onAuthStateChanged(function (user) {
        accountButton.removeAttribute("href")
        if (user) {
          //grab profile image
          firebase.firestore().collection("users").doc(user.uid).get().then((doc) => {
            if (doc.exists) {
              //create div to hold everything for account dropdown menu
              var dropdownMainDiv = document.createElement("div")
              dropdownMainDiv.setAttribute("class", "dropdown")
              //create div to hold username and profile image
              var profileDiv = document.createElement("div")
              profileDiv.setAttribute("id", "topnavAccount")
              profileDiv.onclick = function () {
                window.location.href = "/account/show/" + user.uid
              }
              var username = document.createElement("h4")
              username.setAttribute("id", "topnavAccountText")
              var usernameText = document.createTextNode("Welcome, " + doc.data().username)
              username.appendChild(usernameText)
              //could find user data, display user profile image
              var profileImage = document.createElement("img")
              profileImage.setAttribute("class", "profileImage")
              profileImage.src = doc.data().imageURL
              //add profile image and username to div
              profileDiv.appendChild(username)
              profileDiv.appendChild(profileImage)
              //create dropdown menu
              var dropdownDiv = document.createElement("div")
              dropdownDiv.setAttribute("class", "dropdown-content")
              //create dropdown menu options
              var accountLinkA = document.createElement("a")
              accountLinkA.href = "/account/show/" + user.uid
              accountLinkText = document.createTextNode("Account")
              accountLinkA.appendChild(accountLinkText)
              var logoutLinkA = document.createElement("a")
              logoutLinkA.onclick = function () {
                firebase.auth().signOut().then(function () {
                  //redirect user to sign in/sign up page
                  window.location.href = "/account/sign-in"
                }, function (error) {
                  //display error signing out
                  errorLabel.innerHTML = "Error Signing Out, Please Try Again Later or Contact Support"
                })
              }
              logoutLinkText = document.createTextNode("Log Out")
              logoutLinkA.appendChild(logoutLinkText)
              
              dropdownDiv.appendChild(accountLinkA)
              dropdownDiv.appendChild(logoutLinkA)
              dropdownMainDiv.appendChild(profileDiv)
              dropdownMainDiv.appendChild(dropdownDiv)
              //add to topnav
              document.getElementById("topnav").appendChild(dropdownMainDiv)
              //make account button invisible
              document.getElementById("accountTopNavButton").setAttribute("style", "display: none")
            } else {
              //no user document found
            }
          })
        } else {
          // No user is signed in.
        }
      })
    }
    //get account button to change its href
    let accountButton = document.getElementById("accountTopNavButton")
    //add function to account button to change on whether or not there"s a user
    document.getElementById("accountTopNavButton").onclick = accountButtonPressed
    //do a check to make sure user is signed in to change what account button does
    function accountButtonPressed() {
      window.location.href = "/account/sign-in"
    }
    //make sure account button is shown
    document.getElementById("accountTopNavButton").setAttribute("style", "display: inherit")
  </script>
</body>

</html>