<link rel="stylesheet" type="text/css" href="/cards.css">

  <div class="card">
    <div class="cardInner">

      <div class="cardFrontFace">
        <h2>What is the capital of Hawaii?</h2>
      </div>

      <div class="cardBackFace">
        <div class="cardContent"></div>
        <div class="cardHeader">
          <img src="https://firebasestorage.googleapis.com/v0/b/ssw-project-one.appspot.com/o/images%2Fhawaii.jpg?alt=media&token=bc63c2a0-a6d0-4548-b71b-ea03fe6b1a27" class="pp" >
          <h2>Honolulu</h2>

        </div>
        <div class="cardBody">
          <h3>NICENAME</h3>
          <p>wahwahweewaa</p>
        </div>
      </div>

    </div>
  </div>

<script src="cards.js"></script>