<link rel="stylesheet" type="text/css" href="/cards.css">

<body>
  <div class="card">
    <div class="cardInner">

      <div class="cardFrontFace">
        <h2>Developer Card</h2>
      </div>

      <div class="cardBackFace">
        <div class="cardContent"></div>
        <div class="cardHeader">
          <img src="https://firebasestorage.googleapis.com/v0/b/ssw-project-one.appspot.com/o/images%2FrafaelNadal.jpg?alt=media&token=d6e49b71-d228-4c5d-aa93-ec30293f36ed" class="pp" >
          <h2>NAME</h2>

        </div>
        <div class="cardBody">
          <h3>NICENAME</h3>
          <p>wahwahweewaa</p>
        </div>
      </div>

    </div>
  </div>
</body>
<script src="cards.js"></script>