<link rel="stylesheet" type="text/css" href="/cards.css">
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{Flashcard}}</title>
    <link rel="stylesheet" type="text/css" href="/cards.css"> 

</head>

<body>
<div>
  <h1 class="pageTitle" id="accountTitle" style="border-bottom: 1px solid gray;">Welcome, </h1>
<h4 class="errorLabel" id="errorLabel"></h4>
<h1 class="outlineTitle">Flashcard Generator</h1>
    <div id="flashQuestion"></div>

<div class="centerContent">
    <h1 id="questionTitle" class="pageTitle">Welcome to Flashcard Generator</h1>
</div id="genPrompt">

<div id="h2Exception">
    <h2 >What is the title of this flashcard collection?</h2>
    <input type="text" id="inputCen" class="inputCen" placeholder="Type Here!" />
    <h2>What is the question?</h2>
    <input type="text" id="inputCen" class="inputCen" placeholder="Type Here!" />
    <h2>What is the answer?</h2>
    <textarea id="description" placeholder="Type Here!"
        style="height: 150px;  width: 500px;  resize: none;  font-size: 17px; font-family: Arial, Helvetica, sans-serif; "></textarea>
    <br>
    <button type="button" class="submitButton" id="submit">Submit</button>
    <h2 id="errorLabel"></h2>
</div>

<script>
    let id = "{{userID}}"

    let db = firebase.firestore()
    var errorLabel = document.getElementById("errorLabel")
        var submitButton = document.getElementById("submit")

        submitButton.onclick = validateField
        //save user id
        var userID = ""
        //check to see all fields are filled
        function validateField() {
            let flashTitle = document.getElementById("flashTitle").value
            let flashQuestion = document.getElementById("flashQuestion").value
            let flashAnswer = document.getElementById("flashAnswer").value
            if (flashTitle.length != 0 && flashQuestion.length != 0 && flashAnswer.length != 0) {
                //all fields are filled so they can be added to firestore

                //do a check to make sure user is signed in
                firebase.auth().onAuthStateChanged(function (user) {
                    if (user) {
                        //Save user id
                        if userID == user.uid
                            for (var clickButton of 
                            document.getElementsByClassName("submitButton"))
                            clickButton.addEventListener("click", alertMeessage);
                            function alertMeessage() {
                                alert("Submitted!");
                            }
                            continue
                        // User is signed in.
                        addQuestion(flashTitle, flashQuestion, flashAnswer, user.uid)
                    } else {
                        // No user is signed in.
                        showError("You must be signed in to make flashcards")
                    }
                })
            } else {
                //user needs to add all required information
                showError("Please fill in all fields")
            }
        }
        //add question to firestore
        function addQuestion(flashTitle, flashQuestion, flashAnswer, uid) {
            db.collection("flashQuestion").add({
                flashTitle: flashTitle,
                flashQuestion: flashQuestion,
                flashAnswer: flashAnswer,
                author: uid,
            }).then(function (docRef) {
                //add questionID to user information
                db.collection("users").doc(userID).update({
                    flashQuestions: firebase.firestore.FieldValue.arrayUnion(docRef.id)
                }).catch((error) => {
                    console.error("Error Adding Question: ", error)
                    //todo: delete newly created question
                })
                //link to question page
                var newURL = "/flashcardsGen"
                console.log(newURL)
                window.location.href = newURL
            }).catch((error) => {
                console.error("Error Adding Question: ", error)
                //todo: delete newly created question
            })
        }
        //display error to user
        function showError(error) {
            errorLabel.innerHTML = error
        }

    </script>
</div>

  <div class="card">

    <!-- FRONT TEXT -->
    <!--FLASHTITLE-->
      <h2>BASIC GERMAN</h2>

    <div class="cardInner">
      
      <div class="cardFrontFace">
        <!-- FRONT TEXT FLASHANSWER-->
        <h2>German word for hunter</h2>
      </div>

      <div class="cardBackFace">
        <div class="cardContent"></div>
        <div class="cardHeader">
          <!--<img src="https://firebasestorage.googleapis.com/v0/b/ssw-project-one.appspot.com/o/images%2Fhunter.png?alt=media&token=21fb751e-6f2b-42f5-bce9-b0beeb56321a" class="pp" >-->
          <!-- FOR TEXT ON BACK  FLASHANSWER-->
          <h2>jäger</h2>


    <div class="card" >
      <div class="cardInner">

        <div class="cardFrontFace">
        
        </div>

      
        <div class="cardBody">
          <h3>NICENAME</h3>
          <p>wahwahweewaa</p>
        </div>
      </div>

    </div>
  </div>
  <script src="cards.js"></script>  
  <br>
<br>
<br>
<br>
</body>


<script src="cards.js"></script>