<<<<<<< HEAD
<link rel="stylesheet" type="text/css" href="/cards.css">
=======
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{Flashcard }}</title>
    <link rel="stylesheet" type="text/css" href="/cards.css"> 

</head>
>>>>>>> f11b2d47e911c00d134ac6e2a0b6f5675b728189

<body>
  <div class="card">
    <div class="cardInner">

<<<<<<< HEAD
      <div class="cardFrontFace">
        <h2>Developer Card</h2>
      </div>

      <div class="cardBackFace">
        <div class="cardContent"></div>
        <div class="cardHeader">
          <img src="https://firebasestorage.googleapis.com/v0/b/ssw-project-one.appspot.com/o/images%2FrafaelNadal.jpg?alt=media&token=d6e49b71-d228-4c5d-aa93-ec30293f36ed" class="pp" >
          <h2>NAME</h2>

=======

    <div class="card" >
      <div class="cardInner">

        <div class="cardFrontFace">
          <h2>What is the capital of Hawaii?</h2>
        </div>

        <div class="cardBackFace">
          <!-- FOR TEXT ON BACK-->
          <div class="cardContent"></div>
            <div class="cardHeader">
              <img></img>
              <h2>Honolulu</h2>

            </div>
            <div class="cardBody">
            
            </div>
            
>>>>>>> f11b2d47e911c00d134ac6e2a0b6f5675b728189
        </div>
        <div class="cardBody">
          <h3>NICENAME</h3>
          <p>wahwahweewaa</p>
        </div>
      </div>

<<<<<<< HEAD
    </div>
  </div>
=======
  <script src="cards.js"></script>  
>>>>>>> f11b2d47e911c00d134ac6e2a0b6f5675b728189
</body>
<script src="cards.js"></script>