<link rel="stylesheet" type="text/css" href="/cards.css">

<body>
<div id="flashcards">
<h4 class="errorLabel" id="errorLabel"></h4>
<h1 class="outlineTitle" id="setTitle">Flashcard Generator</h1>

<!-- Add all page content inside thiss div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">


<!-- FLASHCARD -->
<div class="card">
    <div class="cardInner">

      <div class="cardFrontFace">
        <!-- QUESTION -->
        <h2 id="question">What is the capital of Hawaii?</h2>
      </div>

      <div class="cardBackFace">
        <div class="cardContent"></div>
        <div class="cardHeader">


    <div class="card" >
      <div class="cardInner">


        <div class="cardBackFace">
          <div class="cardContent"></div>
            <div class="cardHeader">

            </div>
            <div class="cardBody">
            
            </div>

        </div>
        <div class="cardBody">
          <!-- ANSWER -->
<<<<<<< HEAD
          <h3 id="answer">Honolulu</h3>
=======
          <h3 id="answer">NICENAME</h3>
>>>>>>> 5cf9fcca8b992a4a8c94659393f0c5e54687b6a1
        </div>
      </div>

    </div>
 
  </div>
  </div>

  <script src="/cards.js"></script>  
  <br>
  <br>
  </div>
</div>

<div>
   <!-- SIDE LIST -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#"></a>
  <a href="/flashcardView/Celebrity-Heights">Celebrity Heights</a>
  <a href="/flashcardView/Hardware-of-PC">Hardware of PC</a>
  <a href="/flashcardView/State-Capitals">State Capitals</a>

</div>
<div style="margin-bottom: 10px;">
<!-- Use any element to open the sidenav -->
<button onclick="openNav()" id="listButton">More Flashcard Sets</button>
</div>
</div>
   <div>
     <br>
      <button type="button" class="submitButton" style="width: 100px;" id="nextFlashCard">Next Flashcard</button>
      <button type="button" class="submitButton" style="width: 100px;" id="previousFlashCard">Previous Flashcard</button>
    </div>
</div>



</body>


<script>
    //array to hold flashcard meta data
    var flashcards = []
    //index to hold which flashcard the user is viewing
    var flashcardIndex = 0
    //add functionality to next flashcard and previous flashcard buttons
    document.getElementById("nextFlashCard").onclick = showNext
    document.getElementById("previousFlashCard").onclick = showPrevious
    let flashcardSet = "{{flashcardView}}"
    let db = firebase.firestore()
    //check to see if flashcard set title has a dash in it, if it does remove it and add a space
    if (flashcardSet.includes("-")) {
      while (flashcardSet.includes("-") == true){
        var temp = flashcardSet.replace("-", " ")
        flashcardSet = temp
      }
      document.getElementById("setTitle").innerHTML = flashcardSet
      document.getElementById("title").innerHTML = flashcardSet
    }else{
      document.getElementById("setTitle").innerHTML = flashcardSet
      document.getElementById("title").innerHTML = flashcardSet
    }
    db.collection("flashcard").where("title", "==", flashcardSet).orderBy("question").get().then((querySnapshot) => {
        var x = 0
        querySnapshot.forEach((doc) => {
                flashcards[x] = new flashcard(doc.data().question, doc.data().answer)
                x = x + 1
                if (x == querySnapshot.size) {
                  showFlashcard(0)
                }
<<<<<<< HEAD
                flashcards[x] = new flashcard(doc.data().question,doc.data().answer)
                displayFlashcards(doc.data().title, doc.data().flashQ, doc.data().answer, x)
                x = x + 1
                if (x==querySnapshot.size){
                  showFlashcard(0)
                }

=======
>>>>>>> 5cf9fcca8b992a4a8c94659393f0c5e54687b6a1
            })
        })

    function showFlashcard(index){
        //do a check to make sure index exists in the array
        document.getElementById("question").innerHTML = flashcards[index].question
        document.getElementById("answer").innerHTML = flashcards[index].answer
    }

    /* Set the width of the side navigation to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "150px";
  document.getElementById("mySidenav").style.lineHeight = "30px"
}

function showNext() {
  if (flashcardIndex + 1 < flashcards.length) {
    flashcardIndex += 1
<<<<<<< HEAD

=======
>>>>>>> 5cf9fcca8b992a4a8c94659393f0c5e54687b6a1
    showFlashcard(flashcardIndex)
  }
}

function showPrevious() {
  if (flashcardIndex - 1 >= 0) {
    flashcardIndex += -1

    if (flashcardIndex == 0){
    }

    showFlashcard(flashcardIndex)
  }
}
/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

<<<<<<< HEAD

=======
>>>>>>> 5cf9fcca8b992a4a8c94659393f0c5e54687b6a1
class flashcard {
  constructor(question, answer) {
    this.question = question
    this.answer = answer
  }
}
</script>