<link rel="stylesheet" type="text/css" href="/cards.css">

<body>
<div id="flashcards">
  <h1 class="pageTitle" id="accountTitle" style="border-bottom: 1px solid gray;">Welcome, </h1>
<h4 class="errorLabel" id="errorLabel"></h4>
<h1 class="outlineTitle">Flashcard Generator</h1>

<div class="centerContent">
    <h1 id="questionTitle" class="pageTitle">Welcome To Flashcards</h1>
</div>


<!-- Add all page content inside thiss div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">


<!-- FLASHCARD -->
<div class="card">
    <div class="cardInner">

      <div class="cardFrontFace">
        <!-- QUESTION -->
        <h2 id="question">What is the capital of Hawaii?</h2>
      </div>

      <div class="cardBackFace">
        <div class="cardContent"></div>
        <div class="cardHeader">


    <div class="card" >
      <div class="cardInner">


        <div class="cardBackFace">
          <div class="cardContent"></div>
            <div class="cardHeader">

            </div>
            <div class="cardBody">
            
            </div>

        </div>
        <div class="cardBody">
          <!-- ANSWER -->
          <h3 id="answer">NICENAME</h3>
        </div>
      </div>

    </div>
  </div>
  </div>

  <script src="/cards.js"></script>  
  <br>
  <br>
  </div>
</div>

<div>
   <!-- SIDE LIST -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#"></a>
  <a href="#">Celebrity Heights</a>
  <a href="#">Hardware of PC</a>
  <a href="#">U.S States</a>
  <a href="#">Cool Colors</a>
  <a href="#">Anatomy</a>
</div>
<div>
<!-- Use any element to open the sidenav -->
<button onclick="openNav()" id="listButton">More Flashcard Sets</button>
</div>
</div>
</div>



</body>


<script>
    //array to hold flashcard meta data
    var flashcards = []
    //index to hold which flashcard the user is viewing
    var flashcardIndex = 0
    let flashcardSet = "{{flashcardView}}"
    let db = firebase.firestore()

    db.collection("flashcard").where("title", "==", flashcardSet).orderBy("question").get().then((querySnapshot) => {
        var x = 0
        querySnapshot.forEach((doc) => {
                flashcards[x] = new flashcard(doc.data().question, doc.data().answer)
                displayFlashcards(doc.data().title, doc.data().flashQ, doc.data().answer, x)
                x = x + 1
                if (x == querySnapshot.size) {
                  showFlashcard(0)
                }
                flashcards[x] = new flashcard(doc.data().question,doc.data().answer)
                displayFlashcards(doc.data().title, doc.data().flashQ, doc.data().answer, x)
                x = x + 1
                if (x==querySnapshot.size){
                  showFlashcard(0)
                }

            })
        })

    function displayFlashcards(question, description, questionID, index) {

            //create a to allow user to click to question
            var questionA = document.createElement("a")
            questionA.setAttribute("class", "questionPreviewA")
            questionA.setAttribute("onclick", showFlashcard(index))

            //create question div
            var questionDiv = document.createElement("div")
            questionDiv.setAttribute("class", "questionPreviewDiv")

            //create question title
            var questionTitle = document.createElement("h2")
            questionTitle.setAttribute("class", "questionPreviewTitle")
            var questionText = document.createTextNode(question)
            questionTitle.appendChild(questionText)
            
            //create question description
            var questionDescription = document.createElement("h4")
            questionDescription.setAttribute("class", "questionPreviewDescription")
            var questionDescriptionText = document.createTextNode(description)
            questionDescription.appendChild(questionDescriptionText)

            //add title and body to div
            questionDiv.appendChild(questionTitle)
            questionDiv.appendChild(questionDescription)

            //add div to a
            questionA.appendChild(questionDiv)

            //add div to div already in html
            document.getElementById("flashcards").appendChild(questionA)
    }

    function showFlashcard(index){
        //do a check to make sure index exists in the array
        document.getElementById("question").innerHTML = flashcards[index].question
        document.getElementById("answer").innerHTML = flashcards[index].answer
    }

    /* Set the width of the side navigation to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "150px";
  document.getElementById("mySidenav").style.lineHeight = "30px"
}

function showNext() {
  if (flashcardIndex + 1 < flashcards.length) {
    flashcardIndex += 1
    showFlashcard(flashcardIndex)
  }
}

function showPrevious() {
  if (flashcardIndex - 1 > 0) {
    flashcardIndex += -1
    showFlashcard(flashcardIndex)
  }
}
/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}


class flashcard {
  constructor(question, answer) {
    this.question = question
    this.answer = answer
  }
}
</script>