<link rel="stylesheet" type="text/css" href="/cards.css">
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{Flashcard }}</title>
    <link rel="stylesheet" type="text/css" href="/cards.css"> 

</head>

<body>
<div>
</div>
  <div class="card">

    <!-- FRONT TEXT -->
    <!--TITLE-->
      <h2>BASIC GERMAN</h2>

    <div class="cardInner">
      
      <div class="cardFrontFace">
        <!-- FRONT TEXT -->
        <h2>German word for hunter</h2>
      </div>

      <div class="cardBackFace">
        <div class="cardContent"></div>
        <div class="cardHeader">
          <img src="https://firebasestorage.googleapis.com/v0/b/ssw-project-one.appspot.com/o/images%2Fhunter.png?alt=media&token=21fb751e-6f2b-42f5-bce9-b0beeb56321a" class="pp" >
          <!-- FOR TEXT ON BACK-->
          <h2>jäger</h2>


    <div class="card" >
      <div class="cardInner">

        <div class="cardFrontFace">
        <!--  -->
          <h2>What is the capital of Hawaii?</h2>
        </div>

        <div class="cardBackFace">
          <!-- -->
          <div class="cardContent"></div>
            <div class="cardHeader">
              <img></img>
              <h2>Honolulu</h2>

            </div>
            <div class="cardBody">
            
            </div>
            
          <img src="https://firebasestorage.googleapis.com/v0/b/ssw-project-one.appspot.com/o/images%2Fhawaii.jpg?alt=media&token=bc63c2a0-a6d0-4548-b71b-ea03fe6b1a27" class="pp" >
          <h2>Honolulu</h2>

        </div>
        <div class="cardBody">
          <h3>NICENAME</h3>
          <p>wahwahweewaa</p>
        </div>
      </div>

    </div>
  </div>
  <script src="cards.js"></script>  
  <br>
<br>
<br>
<br>
</body>


<script src="cards.js"></script>