<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{Flashcard }}</title>
    <link rel="stylesheet" type="text/css" href="/cards.css"> 

</head>

<body>


    <div class="card" >
      <div class="cardInner">

        <div class="cardFrontFace">
          <h2>What is the capital of Hawaii?</h2>
        </div>

        <div class="cardBackFace">
          <!-- FOR TEXT ON BACK-->
          <div class="cardContent"></div>
            <div class="cardHeader">
              <img></img>
              <h2>Honolulu</h2>

            </div>
            <div class="cardBody">
            
            </div>
            
        </div>
      
      </div>
    </div>

  <script src="cards.js"></script>  
</body>

</html>