<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{Flashcard }}</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>

    <div class="card" >
      <div class="cardInner">

        <div class="cardFrontFace">
          <h2>Developer Card</h2>
        </div>

        <div class="cardBackFace">
          <div class="cardContent"></div>
            <div class="cardHeader">
              <img src="pp.jpg" class="pp">
              <h2>NAME</h2>
            </div>
            <div class="cardBody"></div>
            <h3>NICENAME</h3>
            <p>wahwahweewaa</p>
        </div>
      
      </div>
    </div>

    <script src="card.js"></script>
</body>

</html>