<link rel="stylesheet" type="text/css" href="/cards.css">

<body>
<div>
  <h1 class="pageTitle" id="accountTitle" style="border-bottom: 1px solid gray;">Welcome, </h1>
<h4 class="errorLabel" id="errorLabel"></h4>
<h1 class="outlineTitle">Flashcard Generator</h1>

<div class="centerContent">
    <h1 id="questionTitle" class="pageTitle">Welcome to Flashcard Generator</h1>
</div>

<div style="align-items: center;">
    <h2>What is the title of this flashcard collection?</h2>
    <input type="text" id="flashTitle" placeholder="Type Here!" />
    <h2>What is the question?</h2>
    <input type="text" id="flashQ" placeholder="Type Here!" />
    <h2>What is the answer?</h2>
    <input type="text" id="flashAnswer" placeholder="Type Here!" />
    <h2>Would you like to add another question to this collection?</h2>
    <button type="button" class="submitButton" id="search" onclick="butt()">Yes</button>
    <button type="button" class="submitButton" id="search1" onclick="butt()">No</button>
    
    <br><br>
    <button type="button" class="submitButton" id="submit">Submit</button>
   


<script>
    let id = "{{userID}}"

    let db = firebase.firestore()
    var errorLabel = document.getElementById("errorLabel")
        var submitButton = document.getElementById("submit")

        submitButton.onclick = validateField
        //save user id
        var userID = ""
        //check to see all fields are filled
        function validateField() {
            let flashTitle = document.getElementById("flashTitle").value
            let flashQ = document.getElementById("flashQ").value
            let flashAnswer = document.getElementById("flashAnswer").value

            console.log("title: " + flashTitle)
            console.log("answer: " + flashAnswer)
            console.log("question: " + flashQ)
            if (flashTitle.length != 0) {
                //all fields are filled so they can be added to firestore

                //do a check to make sure user is signed in
                firebase.auth().onAuthStateChanged(function (user) {
                if (user) {
                        //Save user id
                        // User is signed in.
                        //all the boys valid and accounted for
                        userID = user.uid
                        addQuestion(flashTitle, flashQ, flashAnswer, user.uid)

                    } else {
                        // No user is signed in.
                        showError("You must be signed in to make flashcards")
                    }
                })
            } else {
                //user needs to add all required information
                showError("Please fill in all fields")
            }
        }

        //add question to firestore
        function addQuestion(flashTitle, flashQ, flashAnswer, uid) {
            db.collection("flashcard").add({
                Title: flashTitle,
                Question: flashQ,
                Answer: flashAnswer,
                Author: uid,
            }).then(function (docRef) {
                //add questionID to user information
                db.collection("users").doc(userID).update({
                    flashcard: firebase.firestore.FieldValue.arrayUnion(docRef.id)
                }).catch((error) => {
                    console.error("Error Adding Question: ", error)
                    //todo: delete newly created question
                })

            }).catch((error) => {
                console.error("Error Adding Question: ", error)
                //todo: delete newly created question
            })
        }
        //display error to user
        function showError(error) {
            errorLabel.innerHTML = error
        }

        //button functions for array
        function yesButt()  {
                //doesnt change, belongs to one set
            let flashTitle = document.getElementById("flashTitle").value
            let flashQ = document.getElementById("flashQ").value
            let flashAnswer = document.getElementById("flashAnswer").value
            
                cardT = flashTitle
                cardQ = []
                cardA = []
                cardSet = [cardT,cardQ,cardA]

            while (yes == true)
                cardQ = cardQ.push(flashQ)
                cardA = cardQ.push(flashAnswer)

                console.log(cardSet)
                
            }

    </script>