<html>

<h1>index.handlebars</h1>
<<<<<<< HEAD
=======
<p> Study Buddy Index
    <hr>
    <br>
    
    <button href="signin.handlebars">Go To The Sign In Page
    </button>
    <br>

    <button href="about.handlebars">Go To The About Page
    </button>
    <br>

    <button href="flashcards.handlebars">Go To The Flashcard Generator Page
    </button>
    <br>
</p>



>>>>>>> 

</html>
