<div class="welcomeBanner" style="border-bottom: 1px solid gray;">
    <h1 class="welcomeBanner">The Best Way To Study</h2>
</div>
<h2 class="questionWelcomeBanner"> Questions </h2>
<div id="questions" style="text-align: left;"></div>

<script>
    let db = firebase.firestore()

    db.collection("questions").orderBy("upvotes").limit(3).get().then((documents) => {
        documents.forEach((doc) => {
            if (doc.exists) {
                //got document successfully
                //display question data
                displayQuestion(doc.data().question, doc.data().description, doc.id)
            } else {
                //could not find question, skip and go on to next one
                if (amountOfQuestions == 0 && x + 1 == questions.length) {
                    //none of the questions found could be downloaded, 
                    //change account screen as if no questions found
                }
            }
        })
    })

    function displayQuestion(question, description, questionID) {
        //create a to allow user to click to question
        var questionA = document.createElement("a")
        questionA.setAttribute("class", "questionPreviewA")
        questionA.setAttribute("href", "/question/show/" + questionID)
        //create question div
        var questionDiv = document.createElement("div")
        questionDiv.setAttribute("class", "questionPreviewDiv")
        //create question title
        var questionTitle = document.createElement("h2")
        questionTitle.setAttribute("class", "questionPreviewTitle")
        var questionText = document.createTextNode(question)
        questionTitle.appendChild(questionText)
        //create question description
        var questionDescription = document.createElement("h4")
        questionDescription.setAttribute("class", "questionPreviewDescription")
        var questionDescriptionText = document.createTextNode(description)
        questionDescription.appendChild(questionDescriptionText)
        //add title and body to div
        questionDiv.appendChild(questionTitle)
        questionDiv.appendChild(questionDescription)
        //add div to a
        questionA.appendChild(questionDiv)
        //add div to div already in html
        document.getElementById("questions").appendChild(questionA)
    }
</script>