<html>

<h1>index.handlebars</h1>
<p> Study Buddy Index
    <hr>
    <br>
    
    <button><a ref="signin.handlebars">Go To The Sign In Page</a>
    </button>
    <br>

    <button><a ref="about.handlebars">Go To The About Page</a>
    </button>
    <br>

    <button><a ref="flashcards.handlebars">Go To The Flashcard Generator Page</a>
    </button>
    <br>
</p>

</html>
