<link rel="stylesheet" type="text/css" href="css/messenger.css">
<link rel="stylesheet" type="text/css" href="css/messenger-left-pane.css">
<link rel="stylesheet" type="text/css" href="css/messenger-sides.css">
<script src="../scripts/firestore.js"></script>
<script src="../scripts/display.js"></script>
<script src="../scripts/message.js"></script>
<div id="messenger-page">
    <header id="messenger-top"></header>
    <div id="message-bottom">
        <div id="message-side-area-left">
            <nav id="rooms-nav">
                <div id="my-room-pane">
                    <button id="room-button">+</button>
                    <input type="text" id="room-name-input">
                    <p>My rooms</p>
                </div>
            </nav>
        </div>
        <div id="message-center">
            <div id="message-area">
                <div id="message-room"></div>
                <div id="message-box">
                    <button type="button" id="message-submit">Submit</button>
                    <input type="text" id="message-input">
                </div>
            </div>
        </div>
        <div id="message-side-area-right"></div>
    </div>
</div>
<script>

    document.getElementById("message-submit").addEventListener("click", () => {
        getMessageFromInput("message-input")
    })

    

    // student@school.com
    // 11111

</script>

