<h1>newquestion.handlebars</h1>
<h2>What Is Your Question?</h2>
<input type="text" id="question" placeholder="Question" />
<h2>Please describe your question</h2>
<input type="text" id="description" height="300px"width="400px"/>
<h2>Which Subject Are You Asking About?</h2>
<input type="text" id="subject" placeholder="Subject" />
<button type="button" id="submit">Submit</button>
<h2 id="errorLabel"></h2>

<script>
    //add firestore to file
    let db = firebase.firestore();

    var errorLabel = document.getElementById('errorLabel');
    var submitButton = document.getElementById('submit');

    submitButton.onclick = validateField;

    //check to see all fields are filled
    function validateField(){
        let question = document.getElementById('question').value;
        let description = document.getElementById('description').value;
        let subject = document.getElementById('subject').value;
        if (question.length != 0 && description.length != 0 && subject.length != 0){
            //all fields are filled so they can be added to firestore
            //do a check to make sure user is signed in
            firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    // User is signed in.
                    addQuestion(question, description, subject, user.uid);
                } else {
                    // No user is signed in.
                    showError('You must be signed in to ask a quesiton');
                 }
             });
        }else{
            //user needs to add all required information
            showError('Please fill in all fields');
        }
    }
    //add question to firestore
    function addQuestion(question, description, subject, uid){
        db.collection('questions').add({
            question: question,
            description: description,
            subject: subject,
            author: uid,
            acceptedAnswer: "",
            upvotes: 0,
            answers: []
        }).then(function(docRef) {
            //link to question page
            var newURL = '/question/'+docRef.id;
            console.log(newURL);
            window.location.href = newURL;
        }).catch((error) => {
            console.error('Error Adding Question: ', error);
            //todo: delete newly created question
        })
    }
    //display error to user
    function showError(error) {
        errorLabel.innerHTML = error;
    }

</script>