<h1>newuser.handlebars</h1>
<h2>Add info to create an account</h2>
<input type="text" id='username' placeholder="Username"/>
<input type="text" id='password' placeholder="Password"/>
<input type="text" id='email' placeholder="Email"/>
<button type="button" id="submit">Submit</button>
<h2 id="errorLabel"></h2>
<script>
    let db = firebase.firestore();

    var usernameInput = document.getElementById('username');
    var passwordInput = document.getElementById('password');
    var emailInput = document.getElementById('email');
    var submitButton = document.getElementById('submit');
    var errorLabel = document.getElementById('errorLabel');
    submitButton.onclick = validateField;

    function validateField() {
            //check to see that all fields have been entered correctly
        if (usernameInput.value.length == 0 && passwordInput.value.length == 0 && emailInput.value.length == 0) {
            showError('Please Enter All Fields');
        }else {
            //if everything is ok, create account and redirect to account page
            createUser(usernameInput.value, passwordInput.value, emailInput.value);
        }
    }
    function showError(error) {
        errorLabel.innerHTML = error;
    }
    function createUser(username, password, email){
        firebase.auth().createUserWithEmailAndPassword(email, password)
            .then((userCredential) => {
                // Signed in 
                var user = userCredential.user;
                // ...
                addUserInformation(username, email);
            })
            .catch((error) => {
                var errorCode = error.code;
                var errorMessage = error.message;
                showError(errorMessage);
            });
    }
    function addUserInformation(username, email, uid){
        //add user data to firebase
        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                db.collection('users').doc(user.uid).set({
                    username: username,
                    email: email,
                    questions: []
                }).then(() => {
                    console.log('added user data correctly')
                    window.alert('Added user successfully');
                }).catch((error) => {
                    console.error('Error Adding User Data: ', error);
                    //todo: delete newly created user
                })
            } else {
                //todo: delete newly created user
                console.log('could not find user');
                showError('Error Creating User');
            }
        })

    }
</script>
