<div class="fourZeroFour">
    <h3>Sorry, we could not find that page or that page does not exist</h3>
    <image src="https://firebasestorage.googleapis.com/v0/b/ssw-project-one.appspot.com/o/images%2Fshrug.jpg?alt=media&token=070d0f4f-10f4-462b-8e38-aaa9f2d10609">
</div>