<h1>question.handlebars</h1>
<h1 id="questionTitle"></h1>
<h3 id = "questionSubject"></h3>
<p id="questionDescription"></p>
<h4>Asked By:</h4>
<h4 id="asker"></h4>
<div>
    <h3>Add An Answer</h3>
    <input type="text" id="answer" placeholder="Answer" height="300px" width="400px">
    <button type="button" id="submitAnswer">Submit</button>
    <h4 id="answerError"></h4>
</div>
<div id="acceptedAnswer">
    <p id="acceptedAnswerBody"></p>
    <h4 id='acceptedAnswerAuthor'></h4>
</div>
<div id="answers">
    <h3>Answers</h3>

</div>

<script>
    //get question id
    let qID = "{{question}}";
     //add firestore to file
    let db = firebase.firestore();
    //current user username
    var username ="";
    
    document.getElementById('submitAnswer').onclick = submitAnswer;

    db.collection('questions').doc(qID).get().then((doc) => {
        if (doc.exists) {
            //got document successfully
            showQuestionData(doc.data().question, doc.data().description, doc.data().subject);
            //Get the username for the asker
            getAskerUsername(doc.data().author);
            //get the answers
            showAnswers();
        } else {
            //could not find question, redirect user
            console.log("No such document!");
        }
    }).catch((error) => {
        console.log("Error getting document:", error);
    });

    function showQuestionData(question, description, subject){
        document.getElementById('title').innerHTML = question;
        document.getElementById('questionTitle').innerHTML = question;
        document.getElementById('questionSubject').innerHTML = subject;
        document.getElementById('questionDescription').innerHTML = description;
    }

    function getAskerUsername(id){
        db.collection('users').doc(id).get().then((userDoc) => {
            if (userDoc.exists) {
                //got document, show username
                username = userDoc.data().username;
                document.getElementById('asker').innerHTML = userDoc.data().username;
            }else{
                console.log('Error getting user data');
            }
        });
    }

    function submitAnswer(){
        //check to see if user is signed in
        firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    // User is signed in.
                    let answer = document.getElementById('answer').value;
                    db.collection('answers').add({
                        answer: answer,
                        author: username,
                        authorID: user.uid,
                        question: qID
                    }).then(() => {
                        //reload page after successfully added answer
                        location.reload();
                    }).catch((error) => {
                        //display error adding answer
                        document.getElementById('answerError').innerHTML = 'Error: ' + error;
                    });
                } else {
                    // No user is signed in.
                    document.getElementById('answerError').innerHTML = "Please sign in to answer this question";
                 }
             });
    }
    //this function grabs the answers from firestore and adds them to the html
    function showAnswers(){
        var answerQuery = db.collection('answers').where('question', '==', qID).get().then((querySnapshot) =>{
            querySnapshot.forEach((answerDoc) => {
                //grabbed answers for this question from firebase
                //add answers to the html
                var answerContainer = document.createElement('p');
                var answerBody = document.createTextNode(answerDoc.data().answer);
                answerContainer.appendChild(answerBody);

                var authorContainer = document.createElement('h4');
                var body = ' By, ' + answerDoc.data().author;
                var authorBody = document.createTextNode(body);

                var upvoteButton = document.createElement('Button');
                upvoteButton.setAttribute('type', 'button');
                //todo: change button image to look like up arrow
                upvoteButton.isClciked = false;
                upvoteButton.onclick = function(){ 
                    upvoteQuestion(upvoteButton, answerDoc.id);
                }
                upvoteButton.innerHTML = 'Upvote';

                var answerDiv = document.createElement('div');
                answerDiv.setAttribute('class', 'answer');
                answerDiv.appendChild(answerBody);
                answerDiv.appendChild(authorBody);
                answerDiv.appendChild(upvoteButton);

                var totalAnswerDiv = document.getElementById('answers');
                totalAnswerDiv.appendChild(answerDiv);
            })
        }).catch((error) => {
            console.log('Error getting answers: ', error);
        });

    }

    function upvoteQuestion(button, id){
        if (button.isClicked == false){
            button.isClicked = true;
            button.style.backgroundColor = '#FFFFFF';
            //remove added upvote to the question
            db.collection('answers').doc(id).update({
                upvotes: firebase.firestore.FieldValue.increment(-1)
            }).then(() => {
                //todo: show user there was an error upvoting questions
            })
            .catch((error) => {
                // The document probably doesn't exist.
                console.error("Error updating document: ", error);
            });;
        }else{
            button.isClicked = false;
            button.style.backgroundColor = '#FF0000';
            //add upvote to the answer
            db.collection('answers').doc(id).update({
                upvotes: firebase.firestore.FieldValue.increment(1)
            }).then(() => {
                //todo: show user there was an error upvoting questions
            })
            .catch((error) => {
                // The document probably doesn't exist.
                console.error("Error updating document: ", error);
            });;
        }
    }
    
</script>